In [1]:
import numpy as np
import pandas as pd

In [2]:
ds = pd.read_csv('data.csv')

In [3]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes

In [3]:
x = ds['Age'].mean()
ds['Age'] = ds['Age'].fillna(x)

x = ds['Salary'].mean()
ds['Salary'] = ds['Salary'].fillna(x)

In [4]:
# OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output = False)          # Creating object of OneHotEncoder
encoded_data = ohe.fit_transform(ds[['Country']])   # transform country to numeric

column_names = ohe.get_feature_names_out(['Country'])         # To get colunm name as Colunm_Spane for all others
encoded_df = pd.DataFrame(data = encoded_data, columns = column_names)

# Concatinating two dataframes
ds = pd.concat([ds, encoded_df], axis=1)

In [5]:
ds = ds.drop(columns = ['Country'])

In [6]:
# Label Encoder 
# It is used to convert data into numeric in existing single colunm

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
ds['Purchased'] = le.fit_transform(ds['Purchased'])

In [7]:
le.inverse_transform([0])  # to reverse the transformation from numeric to object

array(['No'], dtype=object)

In [18]:
#6 Feature Scaling   (Large data scaliling to small)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

ds[["Age","Salary"]] = sc.fit_transform(ds[["Age","Salary"]])

In [16]:
z = (72000.000000 - 63777.777778) / 11564.099406	  # z = (value - mean) - std do .desribe to get values "z = (x - u) / s"
z

0.7110127588261582

In [22]:
# input and output y
#output  - purchased column  - Dependent colunm(variable)
#input - all other columns  - Independent colunm(variable)

X = ds[["Age","Salary","Country_France","Country_Germany","Country_Spain"]]
y = ds[["Purchased"]]

In [24]:
from sklearn.model_selection import train_test_split                           #random state means how many time to shuffle data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)